<div class="bg" style="background-color: #ffff;">
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Login...">
      <div class="parent">
        <div class="child" style="background-color: #FFFF;">
          <div nz-row class="imgDiv">
            <div nz-col nzSpan="24">
              <h1 style="margin-left: 80px;">Login</h1>
            </div>
          </div>
          <form nz-form [formGroup]="loginForm" class="login-form" style="background-color: #ffff;" (ngSubmit)="submitForm()">
  
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your email!">
                <nz-input-group nzPrefixIcon="user">
                  <input type="text" nz-input formControlName="email" placeholder="Email" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

         
            
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your password!">
                  <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="password" placeholder="Password" />
                  </nz-input-group>
                </nz-form-control>
            </nz-form-item>
           

            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Login</button>
            Or <a routerLink="/signup">register now!</a>
          </form>
        </div>
      </div>
    </nz-spin>
</div>


        
        